html{
   background-image: url("./abstract\ geometric\ s.png");
    background-size: cover;
    background-repeat: no-repeat;
}
body{
    justify-items: center;
}
.box{
    background-color: rgba(42, 111, 163, 0.285);
    padding: 4%;
    border-radius: 12px;
    width:50%;
    margin-top:120px;
    
}
h2{
    text-align: center;
    color:aliceblue;
    margin-top: 0px;
}
#taskinput{
    border-radius: 14px;
    width: 80%;
    margin-bottom: 15px;
    align-items: center;
    margin-right: 4%;
    background-color: antiquewhite;
    
}
.add{
    border-radius: 22px;
    width:80px;
    height:35px;
    background-color: antiquewhite;
    
}
.taskbar{
    display: flex;
}
span{
    color: rgb(14, 17, 32);
}
button{
    background-color:transparent;
    justify-content: end;
    border: 0px;
}
.add:hover{
  background-color: rgb(122, 122, 203);
  color: aliceblue;
  transition: 0.1s;
  scale: 1.1;
}

button:hover{
  background-color:transparent;
  color: rgb(226, 31, 119);
  transition: 0.1s;
  scale: 1.3;
}
input:hover{
   background-color:transparent;
  color: rgb(226, 31, 119);
  transition: 0.1s;
  scale: 1.3;
}
span{
  font-size: larger;
  color:rgb(30, 2, 2);
}


@media (max-width: 768px) {
  body {
    width: 90%;       /* shrink width */
    height: auto;     /* let height adjust */
    margin-top: 20px;
    border-radius: 3%;
   
  }
}
@media (max-width: 480px) {
  body {
    width: 95%;
    font-size: 0.9em; /* shrink text */
  }

  .screen h1 {
    font-size: 1.2em; /* smaller display text */
  }

  button {
    padding: 12px;
    font-size: 0.9em;
  }

  .long {
    grid-column: span 2; /* make zero button stretch */
  }
}
